body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #7c7c7c;
}

a {
  color: white;
}

a:hover {
  color: white;
}

#jumboh1{
  color:black;
}

h1, h2, h4{
  color: white;
}

li {
  color: black;
}

img {
  /* Rellenamos el fondo */
  min-height: 100%;
  min-width: 100%;

  /* Escalamiento proporcional */
  width: 100%;
  height: auto;

  /* Posicionamiento */
  position: fixed;
  top: 0;
  left: 0;
}

.spinner-grow {
  min-height: 30rem;
  min-width: 30rem;
}

.showvideo {
  /* Posicionamiento */
  position:fixed;
  top: 20%;
  left: 35%;
}

#scoreButton {
  background-color: #21825C;
  outline-color:#21825C: 
  margin-bottom:1vw;
}

#scoreCard {
  margin-top: 15vw;
}

#main{
  margin-top: 15vw;
}
